body {
  font-size: 14px;
  color: black;
  font-family: arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 1em;
}
button {
  width: 18em;
  height: 4em;
  border-radius: 5px;
  background-color: rgb(223, 225, 229);
}
#left-top {
  padding: 1em;
  display: block;
  float: left;
}
#right-top {
  padding: 1em;
  display: block;
  float: right;
}
#Sign-In {
  background-color: rgb(66,133,244);
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#middle {
  text-align: center;
}
#logo {
  margin-top: 10em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}
#search-bar {
  width: 50em;
  height: 2em;
  border-style: solid;
  border-radius: 500px;
  border-color: rgb(223, 225, 229);
  margin-bottom: 2.5em;
}
#middle {
  margin-bottom: 10em;
}
#bottom {
  position: fixed;
  bottom: 0px;
  margin-bottom: 0em;
  width: 100%;
  line-height: 3em;
  background-color: rgb(242,242,242);
  color: rgb(95,99,104);
}
#left-bottom {
  display: block;
  float: left;
  margin-left: 2em;
}
#right-bottom {
  display: block;
  float: right;
  margin-right: 2em;
}
